@font-face {
    font-family: 'chunkfive';
    src: url('./font/Chunkfive.otf');
}

h1{
    font-family: 'chunkfive', Arial, serif;
}

.center{
    text-align: center;
}

h2{
    color: brown;
}

body{
    background-image: url('./img/texture.jpg');
}

img{
    border: 2px solid black;
    box-shadow: 6px 6px 0px black;
    background-color: rgba(0, 0, 0, 0.4);
}